<div id="categories-list" class="row list-group">
    <% @products.each do |product|%>
        <div class="item  col-xs-12 col-md-12 col-lg-4">
            <div class="thumbnail">
                <% if product.images.exists? %>
                    <%= link_to product_path(product) do %>
                        <%= image_tag product.images.first.image.url,:class => "group list-group-image"%>
                    <%end%>
                    <hr>
                <%else%>
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <%end%>
                <div class="caption">
                    <h4 class ="group inner list-group-item-heading"><%= product.title %></h4>
                    <p class = "group inner list-group-item-text"><%= product.description %></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 ">
                            <p class="lead"><%= product.price%> €</p>
                        </div>
                        <div class="col-xs-12 col-md-6 ">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>
