<div class="container" id="favorite_row">
  <div class="row" >
    <%= form_for order_item, remote: true do |f| %>
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <li>
            <time >
              <%= link_to product_path(product) do %>
                <%= image_tag product.images.first.image.url,class: "img-rounded img-responsive",width: "100", height: "100"%>
              <%end%>
            </time>
            <div class="info">
              <h2 class="title">
                <%= product.title %>
              </h2>
              <p class="desc">
                <%= product.description%>
              </p>
              <ul>
                <li style="width:33%;">
                  <%= rating_for  product,'product',half_show: true,enable_half: true,disable_after_rate: true %>
                </li>
                <li style="width:33%;">
                  <%=  number_to_currency( product.price,:unit => "€") %>
                </li>
                <li style="width:33%;">
                  <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%=button_tag class: "btn btn-primary" do %>
                    <i class="fa fa-shopping-cart" aria-hidden="true"style="font-size:15px"></i>
                  <%end%>
                <%end%>
              </li>
            </ul>
          </div>
          <div class="social">
            <ul>
              <li class="facebook" style="width:33%;" >
                <%= render partial: 'favorite_actions/favorite_option' ,locals: {product: product} %>
              </li>
            </br>
          </br>
        </br>
      </br>
    </ul>
  </div>
</li>
</ul>
</div>
</div>
</div>
