<% @product.comments.each do |comment|%>
  <div class="container">
    <div class="row">
      <div class="panel panel-default widget">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-10 col-md-11">
                  <div>
                    <%= comment.title %>
                    <div class="mic-info">
                      <strong>
                        <% if !user_signed_in?  %>
                          <%= comment.author %>
                        <%else%>
                          <%= current_user.name %>
                          <%= current_user.lastname %>
                        <%end%>
                      </strong> on
                               <%= l(comment.created_at, format: '%B, %d %Y ') %>
                    </p>
                  </div>
                </div>
                <div class="comment-text">
                  <p><%= comment.body.html_safe %></p>
                </div>
                <div class="action">
                  <button type="button" class="btn btn-primary btn-xs" title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button type="button" class="btn btn-success btn-xs" title="Approved">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <%= link_to [comment.product,comment],data: {confirm: 'Are you Sure'},method: :delete,remote: true,class: "btn btn-danger btn-xs"  do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <%end%>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
      </div>
    </div>
  <%end%>
</div>
<%#= render "products/comment_form"%>
</div>
