<h1>Articles Search</h1>
<%= form_for search_path, method: :get do |f| %>
    <p>
        <%= f.label "Search for" %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Go", name: nil %>
    </p>
<% end %>
<div id="categories-list" class="row list-group">
    <% @products.each do |product| %>
        <%= render "products/product_row", product: product, order_item: @order_item %>
    <% end %>
</div>
