<div class="col-xs-12 col-sm-6 col-md-3" style="margin-top:5%;">
  <%= form_for order_item, remote: true do |f| %>
    <div class="col-item">
      <div class="photo">
        <%= link_to product_path(product) do %>
          <%= image_tag product.images.first.image.url,class: "img-thumbnail img-responsive"%>
        <%end%>
      </div>
      <div class="info">
        <div class="row">
          <div class="price col-md-6">
            <h5> <%= product.title %></h5>
            <h5 class="price-text-color"><%=  number_to_currency( product.price,:unit => "€") %></h5>
          </div>
          <div class="rating hidden-sm col-md-6" id="favorite_index-<%=product.id%>">
            <%= render partial: 'favorite_actions/favorite_index' ,locals: {product: product} %>
          </div>
        </div>
        <div class="separator clear-left">
          <p class="btn-add">
            <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Καλάθι", class: "btn btn-danger btn-sm"%>
          </p>
          <p class="btn-details">
            <%= link_to product_path(product) ,class:"hidden-sm" do %>
              <i class="fa fa-list"></i>More details</p>
          <%end%>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  <% end %>
</div>
