<div class="container">
  <%= paginate @products, theme: 'twitter-bootstrap-4',:pagination_class => "pagination-small pagination-centered" %>
  <ul>
    <li class="sortbtn"   >
      <%= sortable "price", "Τιμή" %>
    </li>
    <li class="sortbtn">
      <%= sortable "updated_at", "Ημερομηνία" %>
    </li>
  </ul>
  <% if current_user%>
    <% current_user.orders.each do |order|%>
      <% order.order_items.each do |item| %>
        <%= @products.find(item.product.id).title%>
      <% end %>
    <% end %>
  <% end %>
  <div id="categories-list" class="row list-group">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
