<%if user_order_exists %>
  <% if order_inprogress %>
    <div id="cart" class="btn-group btn-block">
      <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
        <i class="fa fa-shopping-cart"></i>
        <span class="hidden-md">Το Καλάθι είναι Άδειο </span>
      </button>
    <%else%>
      <div id="cart" class="btn-group btn-block">
        <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
          <i class="fa fa-shopping-cart"></i>
          <span class="hidden-md">Καλάθι:</span>
          <span id="cart-total">
            <%=order_size%>-(<%= subtotal%>)
          </span>
          <i class="fa fa-caret-down"></i>
        </button>
        <%= render 'layouts/cart_dropdown_row' %>
      <% end %>
    <%elsif current_order_exist %>
      <div id="cart" class="btn-group btn-block">
        <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
          <i class="fa fa-shopping-cart"></i>
          <span class="hidden-md">Το Καλάθι είναι Άδειο </span>
        </button>
      <%else%>
        <div id="cart" class="btn-group btn-block">
          <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
            <i class="fa fa-shopping-cart"></i>
            <span class="hidden-md">Καλάθι:</span>
            <span id="cart-total">
              <%=order_size%>-(<%= subtotal%>)
            </span>
            <i class="fa fa-caret-down"></i>
          </button>
          <%= render 'layouts/cart_dropdown_row' %>
        <%end%>
