<!DOCTYPE html>
<html>
    <head>
        <title>EShop</title>
        <meta property="og:url"           content="http://192.168.2.10:3000/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Apospi" />
        <meta property="og:description"   content="EShop" />
        <meta property="og:image"         content="public/images/4/koupa-agapis.jpg" />
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                                                                                                                                                                                                                                                                                                                                      var js, fjs = d.getElementsByTagName(s)[0];
                                                                                                                                                                                                                                                                                                                                      if (d.getElementById(id)) return;
                                                                                                                                                                                                                                                                                                                                      js = d.createElement(s); js.id = id;
                                                                                                                                                                                                                                                                                                                                      js.src = "//connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v2.8";
                                                                                                                                                                                                                                                                                                                                      fjs.parentNode.insertBefore(js, fjs);
                                                                                                                                                                                                                                                                                                                                    }(document, 'script', 'facebook-jssdk'));
        </script>
        <!--<div class="page-header">
            <h1>Aποψη</h1>
        </div>-->
        <div class="container">
            <!-- Topper w/ logo -->
            <div class="row hidden-xs topper">
                <div class="col-xs-7 col-sm-7">
                    <a href=""><img am-TopLogo alt="SECUREVIEW"   class="img-responsive"></a>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-0 text-right ">
                    <p am-CallNow>CALL</p>
                </div>
            </div>
        </div>
        <!-- End Topper -->
        <!-- Navigation -->
        <div class="container">
            <nav class = "navbar navbar-default" role = "navigation">
                <div class = "navbar-header">
                    <button type = "button" class = "navbar-toggle"
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
                        <span class = "sr-only">Toggle navigation</span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                    </button>
                    <a class = "navbar-brand" href = "#">TutorialsPoint</a>
                </div>
                <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
                    <ul class = "nav navbar-nav">
                        <% Category.all.where(:parent_id => nil).each do |parent| %>
                            <li class="dropdown">
                                <%= link_to parent.name , category_products_path(parent),  class:  'dropdown-toggle' , 'data-toggle' => 'dropdown' %>
                                <ul class="dropdown-menu">
                                    <% parent.subcategories.each do |child|%>
                                        <li><%= link_to child.name , category_products_path(child) %></li>
                                    <%end%>
                                </ul>
                            </li>
                        <%end%>
                        <li>
                            <% if current_user %>
                                <%if current_user.admin %>
                                    <%= link_to "Admin", rails_admin.dashboard_path%>
                                <%end%>
                            <%end%>
                        </li>
                        <li>
                            <ul class="nav navbar-nav navbar-right">
                                <% if user_signed_in? %>
                                    <li>
                                        <%= link_to "Εξοδος", destroy_user_session_path, :method => 'delete' %>
                                    </li>
                                    <li>
                                        <%= link_to "Προφίλ", edit_user_registration_path %>
                                    </li>
                                <%else%>
                                    <li>
                                        <%= link_to "Είσοδος", new_user_registration_path %>
                                    </li>
                                <%end%>
                                <li>
                                    <h1 class="cart-text"><%#= render 'layouts/cart_text' %></h1>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <% if flash[:alert] %>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= flash[:alert] %>
                </div>
            <%end%>
            <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= flash[:notice] %>
                <%end%>
            </div>
        </div>
        <%= yield %>
    </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
