<!DOCTYPE html>
<html>
  <head>
    <title>EShop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.20/src/jquery.ez-plus.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="page-header" id="top_header">
      <div class="header-top" >
        <div class="container" id="first_header">
          <div class="col-sm-7 col-xs-12" id="left_nav" >
            <ul class="nav navbar-nav"  >
              <li>
                <%= link_to root_path do  %>
                  <i class="fa fa-home" aria-hidden="true"></i><label>HOME</label>
                <%end%>
              </li>
            </ul>
          </div>
          <div class="col-sm-5 col-xs-12">
            <ul class="nav navbar-nav"  >
              <li>
                <%= render 'layouts/cart_text'%>
              </li>
              <li>
                <%= link_to "Αγαπήμενα", favorite_path %>
              </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to  profile_path(current_user) do %>
                    <%= label_tag current_user.name %> <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <%end%>
                </li>
                <li>
                  <%= link_to  destroy_user_session_path, method: 'get' do %>
                    <label>Εξοδος</label><i class="fa fa-sign-out" aria-hidden="true"></i>
                  <%end%>
                </li>
              <%else%>
                <li>
                  <%= link_to  new_user_session_path do  %>
                    <label>Σύνδεση</label><i class="fa fa-sign-in" aria-hidden="true"></i>
                  <%end%>
                </li>
                <li>
                  <%= link_to new_user_registration_path do  %>
                    <label>Εγγραφή</label><i class="fa fa-sign-in" aria-hidden="true"></i>
                  <%end%>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="main-header">
          <div class="col-md-4">
            <h1 style="color:#ffb95e;text-align: center;">Αποψη</h1>
          </div>
          <div class="col-md-4 ">
            <%= render "layouts/search"%>
          </div>
          <div class="col-md-4" >
            <%= render "layouts/cart_dropdown"%>
          </div>
        </div>
        <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
          <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
              <ul class="nav navbar-nav navbar-left">
                <% Category.all.where(:parent_id => nil).each do |parent| %>
                  <li class="dropdown">
                    <%= link_to parent.name , category_products_path(parent),  class:  'dropdown-toggle' , 'data-toggle' => 'dropdown' %>
                    <ul class="dropdown-menu">
                      <% parent.subcategories.each do |child|%>
                        <li><%= link_to child.name , category_products_path(child) %></li>
                      <%end%>
                    </ul>
                  </li>
                <%end%>
                <li>
                  <% if current_user %>
                    <%if current_user.admin %>
                      <%= link_to "Admin", rails_admin.dashboard_path%>
                    <%end%>
                  <%end%>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"style="margin-top:0;">
    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:alert] %>
      </div>
    <%end%>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      <%end%>
    </div>
    <%= yield %>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
